<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/css/indes.css" rel="stylesheet">
    <link href="/img/weather.png" rel="icon">
    <title>Document</title>
</head>
<body>
     {{>header}}
     <div class="main-content">
        <img src="/img/slideshow1.png" alt="">
     </div>
    {{>footer}}
</body>
</html>